@media (max-width: 1200px)
  .navbar
    &-top
      padding-left: 60px
      padding-right: 60px
  .collection
    &-container
      flex-direction: column
    &-images
      margin-right: 0
      max-width: 670px
      margin-right: auto
      margin-left: auto
    &-description
      text-align: center
      max-width: 90%
      margin-right: auto
      margin-left: auto
  .trands
    &-menu
      justify-content: space-around
    &-cards
      grid: repeat(4, max-content)/repeat(2, max-content)
      justify-content: space-around
  .stories
    &-container
      flex-direction: column
      align-items: center
    &-description
      text-align: center
      margin-right: 0
      margin-bottom: 36px
  .newsletter
    &-container
      max-width: 90%
    &-form
      margin-right: 0
      &__input
        width: 400px
  .footer
    &-container
      max-width: 90%
      display: grid
      grid-template-columns: repeat(3, minmax(max-content, 1fr))
    &__block
      margin-bottom: 24px
  .brand
    grid-row: 1 / 3
@media (max-width: 1100px)
  .hero
    &-background
      right: -230px
@media (max-width: 950px)
  // .container
  .navbar
    max-height: 72px
    padding-left: 60px
    padding-right: 60px
    &__mobile
      &-fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        background: #FFF
        z-index: 20
    &-top
      padding: 18px 0
      &__menu
        &-right
          display: none
        &-button
          display: flex
          padding: 0
    &-bottom
      &__mobile
        &--visible
          display: block
          padding: 36px 24px
      &__menu
        padding: 0
        margin: 0
        &-right
          align-items: flex-start
          position: relative
        &-item
          margin-bottom: 20px
        &-close
          position: absolute
          top: 0
          right: 0
      &__button
        margin: 0
  .hero
    margin-top: 96px
    max-width: 95%
    padding: 41px 0 45px 29px
    &-description
      &__title
        margin-top: 29px
        margin-bottom: 22px
        font-style: normal
        font-weight: bold
        font-size: 48px
        line-height: 60px
        letter-spacing: 0.2px
      &__text
        max-width: 430px
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 32px
        letter-spacing: 0.6px
  .swiper
    &-container
      max-width: 90%
  .newsletter
    &-container
      flex-direction: column
      align-items: center
      text-align: center
    &-form
      &__input
        width: 447px
@media (max-width: 768px)
  .hero
    padding-bottom: 34px
    margin-bottom: 80px
    &-background
      width: 1074px
      height: 1614px
      right: -347px
      top: -20px
    &-description
      &__text
        margin-bottom: 50px
      &__advantage
        margin-top: 55px
        &-item
          margin-right: 25px
  .collection
    margin-bottom: 78px
    &-container
      width: 667px
    &-description
      text-align: left
      max-width: 100%
      margin-top: 40px
      &__text
        letter-spacing: 0.5px
      &__link
        margin-top: 25px
  .trands
    &-container
      margin-bottom: 84px
    &-menu
      margin-bottom: 37px
      flex-direction: column
      &__tabs
        padding-left: 0
        margin-top: 29px
        justify-content:
        &-item
          margin-left: 0
          margin-left: 21px
          margin-right: 21px
      &__title
        font-family: HKGrotesk-Bold
        font-style: normal
        font-weight: 300
        font-size: 48px
        line-height: 60px
        text-align: center
        letter-spacing: 0.2px
    &-cards
      grid-gap: 48px
      justify-content: center
      &__item
        width: 280px
  .swiper
    &-container
      max-width: 80%
  .reviews
    &-container
      margin-bottom: 66px
    &-slide
      &__title
        margin-bottom: 47px
  .stories
    &-container
      padding-top: 84px
      max-width: 728px
    &-description
      max-width: 530px
      &__title
        letter-spacing: 0
        margin-bottom: 13px
      &__text
        margin-top: 0
        margin-bottom: 36px
    &__slider
      max-width: 92%
    &-slider
      &__item
        margin-left: 0
  .newsletter
    margin-top: -67px
    &-container
      padding-top: 33px
    &-form
      margin-top: 35px
  .footer
    &-container
      padding-top: 64px
      max-width: 85%
      padding-bottom: 80px
    &__block
      margin-right: 40px
      margin-bottom: 29px
@media (max-width: 700px)
  .collection
    &-container
      width: 290px
      margin-left: auto
      margin-right: auto
    &-images
      grid-gap: 14px
      &__item
        width: 138px
        height: 97px
        &-big
          grid-column: 1 / 3
          grid-row: 1
          width: 290px
          height: 300px
    &-description
      text-align: center
      &__title
        font-style: normal
        font-weight: bold
        font-size: 28px
        line-height: 36px
        text-align: center
        letter-spacing: 0.2px
      &__text
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 28px
  .trands
    &-cards
      &__item
        width: 215px
  .stories
    &-slider
      flex-direction: column
      align-items: center
      &__item
        margin-bottom: 180px
        margin-right: 0
    &__slider
      height: 1000px
      &-description
        margin-left: 10px
        top: 93%
  .footer
    &-container
      grid-template-columns: repeat(2, minmax(max-content, 1fr))
    &__block
      margin-right: 40px
      margin-bottom: 29px
  .brand
    grid-column: 1 / 3
    grid-row: 3 / 4

@media (max-width: 600px)
  .stories
    &-slider
      &__item
        &-description
          &-text
            font-weight: 500
            font-size: 20px
            line-height: 24px
            letter-spacing: 0.2px
    &-description
      &__title
        font-size: 28px
        line-height: 36px
        letter-spacing: 0.2px
@media (max-width: 570px)
  .hero
    max-width: 100%
    align-items: center
    padding: 381px 0 36px 0
    border-radius: 0
    margin-bottom: 64px
    &-description
      text-align: center
      &__text
        margin: 0 auto 50px auto
      &__advantage
        justify-content: space-around
        flex-wrap: wrap
  .trands
    &-cards
      gap: 30px 20px
      &__item
        width: auto
    &-link
      font-size: 17px
      line-height: 20px
      padding-top: 29px
    &-menu
      &__title
        font-style: normal
        font-weight: bold
        font-size: 28px
        line-height: 36px
        text-align: center
        letter-spacing: 0.2px
  .image
    &-wrapper
      width: 140px
      height: 170px
  .description
    &-wrapper
      &__title
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 20px
        letter-spacing: 0.2px
      &__price
        display: block
  .price
    margin-right: 5px
    font-style: normal
    font-weight: normal
    font-size: 14px
    line-height: 24px
  .cart
    width: 14px
  .card
    &-img
      &__link
        width: 25px
        margin-bottom: 17px
  .reviews
    &-slide
      &__text
        font-size: 18px
        line-height: 36px
        text-align: center
        letter-spacing: 0.12px
      &__title
        font-size: 20px
        line-height: 24px
        text-align: center
        letter-spacing: 0.2px
      &__image
        width: 70px
  .stories
    &-description
      max-width: 90%
  .newsletter
    &-description
      &__title
        font-size: 28px
        line-height: 36px
        letter-spacing: 0.2px
      &__text
        font-size: 16px
        line-height: 28px
  .newsletter
    &-container
      padding-bottom: 118px
    &-description
      &__title
        margin-bottom: 25px
    &-form
      margin-top: 16px
      &__input
        max-width: 280px
        padding: 13px 5px 13px 48px
        margin: auto
        font-size: 16px
        line-height: 22px
      &__icon
        left: 20px
      &__button
        top: 62px
        right: 0
        padding: 11px 79px
@media (max-width: 400px)
  .footer
    &-container
      padding-top: 48px
      max-width: 79%
      grid-template-columns: 1fr
    &__block
      margin-right: 0
      margin-bottom: 14px
    &-title
      margin-bottom: 20px
      font-size: 16px
      line-height: 22px
    &-list
      &__item
        margin-bottom: 15px
    &-link
      font-size: 14px
      line-height: 20px
  .brand
    margin-top: 35px
    text-align: center
    grid-column: 1
    grid-row: 5
    &__logo
      margin-left: 15px
    &_text
      margin-top: 11px
      font-size: 14px
      line-height: 24px
      margin-bottom: 21px
    &-social
      margin-left: 18px
@media (max-width: 350px)
  .stories
    &-slider
      &__item
        max-width: 270px
        &-description
          right: -55px
          top: 260px
        &-text
          font-size: 20px
          line-height: 24px
          letter-spacing: 0.2px
@media (max-width: 320px)
  .navbar
    padding-left: 24px
    padding-right: 24px
  .hero
    margin-top: 89px
    &-background
      top: -4px
      &__color
        background: linear-gradient(180deg, rgba(238,238,238,0.0001) 0.32%, #E8EAE9 65.51%)
    &-description
      &__title
        margin-top: 24px
        margin-bottom: 19px
        font-style: normal
        font-weight: bold
        font-size: 32px
        line-height: 40px
        letter-spacing: 0.2px
      &__text
        padding: 0 20px 0 20px
        margin-bottom: 36px
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 28px
      &__button
        font-style: normal
        font-weight: bold
        font-size: 16px
        line-height: 22px
        padding: 16px 48px
      &__advantage
        margin: 20px auto 0 auto
        max-width: 273px
        &-item
          margin-right: 0
          margin-top: 15px
          &-icon
            margin-right: 8px
            border-radius: 8px
            padding: 5px
            width: 24px
  .collection
    margin-bottom: 90px
    &-description
      margin-top: 36px
      &__text
        letter-spacing: 0.8px
      &__link
        display: none
  .trands
    &-container
      margin-bottom: 63px
    &-cards
      gap: 22px 10px
      margin-left: 0
    &-menu
      margin-bottom: 18px
      &__tabs
        margin-top: 25px
        &-item
          margin-left: 10px
          margin-right: 10px
          font-size: 16px
          line-height: 22px
  .description
    &-wrapper
      padding: 0
      &__title
        margin-top: 13px
        margin-bottom: 4px
  .reviews
    &-slide
      &__title
        max-width: 155px
        margin-bottom: 42px
      &__text
        margin-bottom: 11px
      &__image
        &-wrapper
          margin-bottom: 2px
  .swiper
    &-pagination
      &-bullet
        margin: 0 8px
  .stories
    &-description
      margin-bottom: 20px
      &__title
        margin-top: 25px
        margin-bottom: 16px
      &__text
        font-size: 16px
        line-height: 28px
    &-slider
      &__item
        margin-bottom: 152px
        &-description
          right: -48px
          top: 256px
  .slider
    &-navigation
      &__button
        width: 49px
        height: 49px
        background-image: url(../img/icons/next-button-small.svg)
        &-prev
        &-next
        &-unactive
          background-image: url(../img/icons/next-button-unactive-small.svg)
  .newsletter
    margin-top: -230px
