.footer
  &-container
    max-width: 1140px
    margin: auto
    display: flex
    align-items: flex-start
    padding-top: 128px
  &__block
    margin-right: 30px
  &-title
    margin: 0
    margin-bottom: 31px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: $secondary
  &-list
    list-style-type: none
    padding: 0
    &__item
      margin: 0
      margin-bottom: 24px
  &-link
    text-decoration: none
    color: inherit

.brand
  max-width: 262px
  &__logo
    margin: 0
  &_text
    margin-top: 28px
    margin-bottom: 32px
  &-social
    &__link
